body {
    margin: 0px;
    background-color: #FDFDFD;
}
@font-face {
    font-family: fontBiblio;
    src: url(fonte/TheLeagueofMoveableType-Raleway/Raleway-ExtraLight.ttf);
}


.box {
    display: grid;
    grid-template-areas: "titulo"
                         "conteudo";
    
    grid-template-rows: 15vh 75vh;
}

.titulo {
    grid-area: titulo;
    display: flex;
    justify-content: center;
    font-family: fontBiblio;
    font-weight: 100;
    background-color: #D2D2D2;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px gray;
    text-shadow: 2px 1px 1px gray;
}

.conteudo {
    grid-area: conteudo;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.conteudo-1 {
    width: 50%;
    border-right: 1px solid black;
    padding-left: 10px;
}

.conteudo-2 {
    padding-left: 10px;
    width: 50%;

}

